@mixin seigaiha($primaryColor, $secondaryColor, $width: 75px) {
  background-color: $primaryColor;
  background-image: radial-gradient(
      circle at 100% 150%,
      $primaryColor 24%,
      $secondaryColor 24%,
      $secondaryColor 28%,
      $primaryColor 28%,
      $primaryColor 36%,
      $secondaryColor 36%,
      $secondaryColor 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      $primaryColor 24%,
      $secondaryColor 24%,
      $secondaryColor 28%,
      $primaryColor 28%,
      $primaryColor 36%,
      $secondaryColor 36%,
      $secondaryColor 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      $secondaryColor 10%,
      $primaryColor 10%,
      $primaryColor 23%,
      $secondaryColor 23%,
      $secondaryColor 30%,
      $primaryColor 30%,
      $primaryColor 43%,
      $secondaryColor 43%,
      $secondaryColor 50%,
      $primaryColor 50%,
      $primaryColor 63%,
      $secondaryColor 63%,
      $secondaryColor 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      $secondaryColor 5%,
      $primaryColor 5%,
      $primaryColor 15%,
      $secondaryColor 15%,
      $secondaryColor 20%,
      $primaryColor 20%,
      $primaryColor 29%,
      $secondaryColor 29%,
      $secondaryColor 34%,
      $primaryColor 34%,
      $primaryColor 44%,
      $secondaryColor 44%,
      $secondaryColor 49%,
      transparent 49%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      $secondaryColor 5%,
      $primaryColor 5%,
      $primaryColor 15%,
      $secondaryColor 15%,
      $secondaryColor 20%,
      $primaryColor 20%,
      $primaryColor 29%,
      $secondaryColor 29%,
      $secondaryColor 34%,
      $primaryColor 34%,
      $primaryColor 44%,
      $secondaryColor 44%,
      $secondaryColor 49%,
      transparent 49%,
      transparent
    );
  background-size: $width $width/2;
}
