$header-color: rgba(41, 56, 46, 0.75);
$search-color: rgba(87, 67, 37, 0.75);
$user-color: rgba(120, 89, 43, 0.75);
$about-us-color: rgba(176, 157, 118, 0.75);
$shop-color: rgba(88, 130, 128, 0.75);
$faq-color: rgba(218, 175, 70, 0.75);
$basket-color: rgba(179, 92, 47, 0.75);
