html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: "Grandstander", "Noto Sans TC", cursive;
}

#__nuxt,
#__layout {
    height: 100%;
}

/* hide scrollbar */
::-webkit-scrollbar {
    width: 0 !important;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

button:focus,
input:focus {
    outline: none;
}

/* pages transition */
.page-enter {
    transform: scale(0);
}

.page-leave {
    transform: scale(1);
}

.page-enter-active,
.page-leave-active {
    transition: all 0.5s ease;
}
