body {
  font-family: "SentyTEA", "Noto Sans TC", sans-serif;
}

html {
  min-height: 100%;
}

body,
#__nuxt,
#__layout {
  height: 100%;
}
::-webkit-scrollbar {
  width: 0 !important;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
